@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeue-Light.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('/fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('/fonts/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Helvetica";
    src: url('/fonts/Helvetica.woff2') format('woff2'),
        url('/fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Eurostile';
    src: url('/fonts/EurostileRegular.woff2') format('woff2'),
        url('/fonts/EurostileRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,
div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,sub,summary,
sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-smooth: always;
}
ul,
li {
    list-style: none;
}
input,
button {
    font-family: HelveticaNeue;
}
button:focus,
input:focus {
    outline: none;
    box-shadow: none;
}
img {
    max-width: 100%;
}
a,
a:hover {
    text-decoration: none;
    color: #fff;
}
body {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    font-family: HelveticaNeue;
    background: #222;
}
.helveticaneue {
    font-family: 'HelveticaNeue' !important;
 }
.eurostile {
    font-family: 'Eurostile' !important;
 }
.phone-icon {
    background: url(/images/black-phone-material.svg) no-repeat center center;
    background-size: 100%;
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 50%;
}
.sm-title {
    font-size: 1.2em;
    font-weight: bold;
    line-height: normal;
    letter-spacing: -0.63px;
    color: #fff;
}
.phone-no {
    color: #fff;
}
.phone-no .phone-icon {
    transition: all 0.5s ease-in-out 0s;
}
.phone-no:hover .phone-icon {
    box-shadow: 0 2px 15px 0 rgb(255 255 255 / 50%);
}
.phone-no .d-md-inline-block {
    transition: all 0.5s ease-in-out 0s;
}
/* .phone-no:hover .d-md-inline-block {
    transform: scale(1.05);
} */
.black-btn {
    padding: 12px 15px;
    background-color: #181818;
    font-family: Eurostile;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    transition: all 0.5s ease-in-out 0s;
    border: none;
}
.black-btn:hover {
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 80%);
}
.text-error {
    font-size: 11px;
}
.white-btn {
    padding: 9px 20px;
    border: solid 1px #fff;
    background-color: #fff;
    font-family: Eurostile;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    display: inline-block;
    transition: all 0.5s ease-in-out 0s;
}
.white-btn:hover {
    color: #000;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 70%);
}
.lg-title {
    font-family: Eurostile;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f4eeee;
}
.facility-col .lg-title {
    font-size: 38px;
}
.caret-right-icon {
    background: url(/images/caret-right.png) no-repeat center center;
    background-size: 100%;
    width: 6px;
    height: 10px;
    display: inline-block;
    vertical-align: 0px;
    margin-right: 5px;
}
.white-caret-icon {
    background: url(/images/white-caret-right.png) no-repeat center center;
    background-size: 100%;
    width: 6px;
    height: 10px;
    display: inline-block;
    vertical-align: 0px;
    margin-right: 5px;
}
p {
    font-family: HelveticaNeue;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #fff;
}
.fw-400 {
    font-weight: 400 !important;
}
.process-left p {
    opacity: 0.8;
}
.process-right p {
    font-size: 13px;
    font-weight: 300;
}
.xl-title {
    font-family: Eurostile;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
.font-40 {
    font-size: 40px;
}
.fw-300 {
    font-weight: 300 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.w-240 {
    width: 240px;
}
.font-18 {
    font-size: 18px !important;
}
.font-16 {
    font-size: 16px !important;
}
.text-gray {
    color: #8a8888 !important;
}
.w-80px {
    width: 140px !important;
}
.font-12 {
    font-size: 12px !important;
}
.check-icon {
    background: url(/images/check.png) no-repeat center center;
    background-size: 100%;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0;
    position: absolute;
    right: 10px;
    top: 12px;
}
.opacity-0-7 {
    opacity: 0.7 !important;
}

.main-menu ul li a {
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 15px 20px;
    display: block;
    transition: all 0.5s ease-in-out 0s;
}
.main-menu ul li a:hover,
.main-menu ul li a.active {
    color: #8a8888;
}
.font-80 {
    font-size: 80px !important;
}
.letter-spacing-3 {
    letter-spacing: 3px !important;
}
.letter-spacing-1 {
    letter-spacing: 1px !important;
}
.font-1-9em {
    font-size: 1.9em !important;
}
.md-title {
    font-family: Eurostile;
    font-weight: 300;
    color: #fff;
}
.xs-title {
    font-family: HelveticaNeue;
    font-weight: 500;
    color: #fff;
}
.mt-100 {
    margin-top: 100px !important;
}
.roboto {
    font-family: "Roboto", sans-serif !important;
}
.font-2-2em {
    font-size: 2.2em !important;
}
.common-text p {
    font-family: HelveticaNeue;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    opacity: 0.8;
}
.common-text p + p {
    margin-top: 25px;
}
.w-330 {
    width: 330px !important;
}
.lg-btn {
    padding: 20px 25px;
}
.helvetica {
    font-family: "Helvetica" !important;
}
.font-13 {
    font-size: 13px !important;
}
.opacity-0-4 {
    opacity: 0.4 !important;
}
.mt-75 {
    margin-top: 75px !important;
}
.font-1-4em {
    font-size: 1.4em !important;
}
.font-1-2em {
    font-size: 1.2em !important;
}
.mb-28 {
    margin-bottom: 28px !important;
}
.mlr-50 {
    margin-left: -50px;
    margin-right: -50px;
}
.mlr-50 > [class^='col'] {
    padding-left: 50px;
    padding-right: 50px;
}
.font-15 {
    font-size: 16px !important;
}
.error {
    font-size: 13px !important;
    font-weight: 400 !important;
}
.transparent-btn {
    background: #0000;
    border: 1px solid #696b6f;
    border-radius: 5px;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -.17px;
    line-height: 24px;
    padding: 9px 20px;
}
.transparent-btn.text-decoration-underline {
    border: none;
    font-size: 15px;
    font-weight: 500;
}
.overflow-active {
    overflow: hidden;
}
.w-220 {
    min-width: 220px;
}
.mr-84 {
    margin-right: 84px;
}
.text-theme {
    color: #a5a8a9 !important;
}
.mb-90 {
    margin-bottom: 90px !important;
}
.phone-no-text {
    font-size: 22px;
}
.font-3em {
    font-size: 3em !important;
}